body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #E5EAD4;
    min-height: 100vh;
}
.navbar {
    background-color: #334F53;
    overflow: hidden;
}

.navbar_logo{
    width: 2.5rem;
}

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */
.navbar .navbar__title {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
    padding: 14px 20px;
    display: flex;
    align-items: center;
}
.navbar .navbar__links {
    float: right;
}
.navbar .navbar__links a {
    float: left;
}

.landing_logo {
    width: 18rem;
    padding: 3rem;
}

.landing__title{
    display: inline;
    position: absolute;
    height: 13.563rem;
    left: 37.438rem;
    top: 7.5rem;
    font-size: 5rem;
    text-decoration: underline;
    color: #334F53;
}

#window{
    background-color: #45936C;
    padding: 2.5rem;
}

#window__descripcion .title{
    text-align: end;
}

.title{
    margin-right: 15rem;
    font-size: 4rem;
    color: #E5EAD4;
}

.description{
    width: 51%;
    font-size: 1.5rem;
    color: #FFF;
}

#window__objetivo #container__description{
    display: flex;
    justify-content: end;
}

#window__aplicacion > h2:nth-child(1) {
    color: #334F53; 
    text-align: end;
}

#window__cronograma{
    background-color: #45936C;
    margin-bottom: 3.15rem;
    padding: 2rem;
}

#window__mapeo{
    background-color: #45936C;
    margin-bottom: 3.15rem;
    padding: 2rem;
}

.btn{
    border: none;
    border-radius: 1rem;
    background-color: #9ACC77;
    color: #334F53;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

#footer {
    background-color: #334F53;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
}

.title {
margin-left: 2rem;
}

#window__organizacion > h2:nth-child(1) {
text-align: end;
}
  